<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BioDesigner|system</title>
	<style type="text/css">
			.linetext {
				font-size: 12px ;
				font-family: SimSun;
				fill:#0000FF;
				fill-opacity:0.0;
				text-anchor: middle;
			}
		</style>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/system.css" />
<body>
	<div class="container-fluid" id="container">
		<div id="sidebar"><!-- sidebar start -->
			<div id="logo">
				<a href="/home/project">
        			<img src="/static/img/logo_white_small.png" alt="logo" class="img-rounded" >
        		    <span>BioDesigner</span>
                </a>
			</div>
			<div id="search-container"><!-- search-container start -->
				<h1>search</h1>
				<ul id="search-area">
					<li><input type="text"></li>
					<li><button class="btn btn-primary">search</button></li>
				</ul>
				<ul id="search-result">

				</ul>
			</div><!-- search-container stop -->
		</div><!-- sidebar stop -->
		<div id="main"><!-- main start -->
			<div id="menu">
				<ul id="label-area">
					
				</ul>
				<ul id="button-area">
					<li><button id="remove-labels" class="btn btn-primary">remove all</button></li>
					<li><button id="run" class="btn btn-primary">run</button></li>
				</ul>
			</div>
			<div id="my-svg">
				<!-- <svg width="1000" height="700"></svg> -->
			</div>
		    <div id="message" class="text-info panel panel-success hide">
				<div class="panel-heading">
					<button type="button" class="close" id="close-message" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    <h3 class="panel-title" id="part_title">Message</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<label for="compound-id">compound-id:</label>
							<span id="compound-id"></span>
						</li>
						<li>
							<label for="name">name:</label>
							<span id="name"></span>
						</li>
						<li>
							<label for="nicknames">nicknames:</label>
							<span id="nicknames"></span>
						</li>
						<li>
							<label for="mol-weight">mol-weight:</label>
							<span id="mol-weight"></span>
						</li>
						<li>
							<label for="exact-mass">exact-mass:</label>
							<span id="exact-mass"></span>
						</li>
						<li>
							<label for="formula">formula:</label>
							<span id="formula"></span>
						</li>
					</ul>
				</div>
			</div>
			<div id="gene-message" class="text-info panel panel-success hide">
				<div class="panel-heading">
					<button type="button" class="close" id="close-gene-message" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    <h3 class="panel-title" id="part_title">Gene Message</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>
							<label for="gene-id">Gene-id:</label>
							<span id="gene-id"></span>
						</li>
						<li>
							<label for="name">Name:</label>
							<span id="name"></span>
						</li>
						<li>
							<label for="definition">Definition:</label>
							<span id="definition"></span>
						</li>
						<li>
							<label for="organism-short">Organism_short:</label>
							<span id="organism-short"></span>
						</li>
						<li>
							<label for="organism">Organism:</label>
							<span id="organism"></span>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- main stop -->
	</div>
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/system.js"></script>
<script type="text/javascript" src="/static/js/d3.min.js"></script>
<script type="text/javascript">		
    function draw(dataset){
    	$('#my-svg').empty();
    	var drawGem = function(dataset) {
				//Width and height and radius
				var w = 800;
				var h = 600;
				var rad = 10;
				//alert(dataset);
				/*
				var dataset = {
				nodes: [
					{ name: "Adam" , id: ""},
					{ name: "Bob" , id: ""},
					{ name: "Carrie" , id: ""},
					{ name: "Donovan" , id: ""},
					{ name: "Edward" , id: ""},
					{ name: "Felicity" , id: ""},
					{ name: "George" , id: ""},
					{ name: "Hannah" , id: ""},
					{ name: "Iris" , id: ""},
					{ name: "Jerry", id: "" }
				],
				edges: [
					{ source: 0, target: 1 , relation: "a"},
					{ source: 0, target: 2 , relation: "b"},
					{ source: 0, target: 3 , relation: "c"},
					{ source: 0, target: 4 , relation: "d"},
					{ source: 1, target: 5 , relation: "e"},
					{ source: 2, target: 5 , relation: "f"},
					{ source: 2, target: 5 , relation: "g"},
					{ source: 3, target: 4 , relation: "h"},
					{ source: 5, target: 8 , relation: "i"},
					{ source: 5, target: 9 , relation: "g"},
					{ source: 6, target: 7 , relation: "k"},
					{ source: 7, target: 8 , relation: "l"},
					{ source: 8, target: 9 , relation: "m"}
				]
			};
			//*/
				//Initialize a default force layout, using the nodes and edges in 	dataset
				var force = d3.layout.force()
								 	.nodes(dataset.nodes)
								 	.links(dataset.edges)
								 	.size([w, h])
								 	.linkDistance([150])
								 	.charge([-300])
								 	.start();
	
				var colors = d3.scale.category10();
	
				//Create SVG element
				var svg = d3.select("#my-svg")
							.append("svg")
							.attr("width", w)
							.attr("height", h);
				
				//Create edges as lines
				var edges = svg.selectAll("line")
					.data(dataset.edges)
					.enter()
					.append("line")
					.style("stroke", "#ccc")
					.style("stroke-width", 1);
				
				var edges_text = svg.selectAll(".linetext")
									.data(dataset.edges)
									.enter()
									.append("text")
									.attr("class","linetext")
									.text(function(d){
										return d.relation;
									});
				
				
				//Create labels
				var text_dx = -20;
				var text_dy = 20;
				var drag = force.drag()
            					.on("dragstart",function(d,i){
				             		d.fixed = true;
				            	})
				var nodes_text = svg.selectAll(".nodetext")
									.data(dataset.nodes)
									.enter()
									.append("text")
									.attr("class","nodetext")
									.attr("dx",text_dx)
									.attr("dy",text_dy)
									.text(function(d){
										return d.name;
									});
				//Create nodes as circles					
			 	var nodes = svg.selectAll("circle")
					.data(dataset.nodes)
					.enter()
					.append("circle")
					.attr("r", rad)
					.style("fill", function(d, i) {
						return colors(i);
					})
					.on("mouseover",function(d,i){
						edges_text.style("fill-opacity",function(edge){
							if( edge.source === d || edge.target === d ){
								return 1.0;
							}
						});
					})
					.on("mouseout",function(d,i){
						edges_text.style("fill-opacity",function(edge){
						if( edge.source === d || edge.target === d ){
							return 0.0;
							}
						});
					})
					.on("click", function(d, i){
						getGeneMessage(d.id);
					})
					.on("dblclick",function(d,i){
						d.fixed = false;
					})
					.call(force.drag);  
				//Every time the simulation "ticks", this will be called
				force.on("tick", function() {
					dataset.nodes.forEach(function(d,i){
						d.x = d.x - rad < 0     ? rad : d.x ;
						d.x = d.x + rad > w ? w - rad : d.x ;
						d.y = d.y - rad < 0      ? rad : d.y ;
						d.y = d.y + rad + text_dy > h ? h - rad - text_dy : d.y ;
					});
					edges.attr("x1", function(d) { return d.source.x; })
					 	.attr("y1", function(d) { return d.source.y; })
					 	.attr("x2", function(d) { return d.target.x; })
					 	.attr("y2", function(d) { return d.target.y; });
				
					nodes.attr("cx", function(d) { return d.x; })
					 	.attr("cy", function(d) { return d.y; });
					nodes_text.attr("x",function(d){ return d.x });
					nodes_text.attr("y",function(d){ return d.y + 10});
					 
				edges_text.attr("x",function(d){ return (d.source.x + d.target.	x) / 2 ; });
				edges_text.attr("y",function(d){ return (d.source.y + d.target.	y) / 2 ; });
		
				});
			}
			drawGem(dataset);
			//test
			/*
			d3.json("test.json", function(error, dataset){
				//if (error) return console.warn(error);
				//alert("heel");
				drawGem(dataset);
			});
*/
			//function getSearchResult(input){
			//   $.ajax({
			//      url:'' + input,
			//      type:'GET',
			//      success:function(result){
			//          insertSearchResult(result);
			//      }
			//   });
			//}

    }	
			
		</script>
</body>
</html>