
html, body{
    font-family:"Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a{
    text-decoration: none;
}
.box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
}
.block-box{
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
}
.inline-box{
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -o-box-orient:horizontal;
}
.box-item{
    box-flex:0;
    -webkit-box-flex:0;
    -moz-box-flex:0;
    -o-box-flex:0;
}

div#container{
    width:100%;
    min-width: 800px;
    height:100%;
    min-height: 600px;
}
div#bananer{
    width:100%;
    height:50px;
    background: rgb(221,221,221);
    background: #f7f7f7;
}
div#logo{
    height:50px;
    width:250px;
    /*background: rgb(98,206,104);*/
    background: #5faeff;
    /*float:left;*/
}
div#logo img{
    height:50px;
    width:50px;
    display: block;
    float:left;
}
div#logo span{
    color:white;
    font-size: 30px;
    line-height: 50px;
    display: block;
    float:left;
}
div#bananer button#add{
    height:30px;
    width:200px;
    border-radius: 5px;
    border-width: 0;
    background: #ff8f4e;
    line-height: 30px;
    font-size: 18px;
    margin:10px 10px;
    color: white;
    /*float: left;*/
}
div#bananer ul#buttonArea{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    margin:0;
    padding-left: 0;
    /*float:left;*/
    height:50px;
    overflow: auto;
}
div#bananer ul#buttonArea li{
    list-style-type: none;
    float: left;
    height:40px;
    margin-left:2px;
    margin-top: 5px;
    border: 1px solid black;
}
div#bananer ul#buttonArea li span.label{
    line-height: 40px;
    font-size: 25px;
}
div#bananer ul#buttonArea li button.close{
    height:20px;
    margin-top: 8px;
}
div#main{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    width:100%;
}
div#sidebar{
    width:250px;
    height:100%;
}
div#search_part_container{
    /*box-flex:3;
    -webkit-box-flex:3;
    -moz-box-flex:3;
    -o-box-flex:3;*/
    /*background: rgb(44,47,50);*/
    background: #3d414d;
}
div#search_part_container h1{
    margin: 0;
    height:33px;
    /*background-color: rgb(127,127,127);*/
    background: #4d99e0;
    color:#FFF;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}
div#search_part_container div#search_container{
    height:40px;
    width:100%;
    background: #4d99e0;
}
div#search_part_container div#search_container input.search_input{
    float: left;
    width:190px;
    /*width:61.8%;*/
    height: 26px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 0;
    padding-left: 10px;
}
div#search_part_container div#search_container input.search_input:focus{
    box-shadow: none;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
div#search_part_container div#search_container input.error::-webkit-input-placeholder{
    color:red;
}
div#search_part_container div#search_container input.error::-moz-placeholder{
    /* firefox 19+ */
    color:red;
}
div#search_part_container div#search_container input.error::input-moz-placeholder{
    color:red;
}
div#search_part_container div#search_container input.error:-ms-input-placeholder{
    /*ie*/
    color:red;
}
div#search_part_container div#search_container span#search_part_button{
    display: block;
    float: right;
    height:26px;
    line-height: 26px;
    font-size: 20px;
    margin-right: 15px; 
    margin-top: 5px;
    color: white;
}
div#part_result_container{
   /* box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;*/
    width:100%;
    overflow: auto;
}
div.part_style{
    width:100%;
    height:30px;
    color:#FFF;
    padding-left: 10%;
    margin-bottom: 5px;
    font-size: 1.3em;
}

div.part_active{
    background-color: rgb(138,204,118);
    color:#333333;
}
div#part_result_container div.part_style img,div#recommand_search_container img{
    height:30px;
    width:30px;
}
div#recommand_container{
    /*box-flex:2;
    -webkit-box-flex:2;
    -moz-box-flex:2;
    -o-box-flex:2;*/
    width:100%;
    background-color: rgb(62,64,72);
}
div#recommand_container h1{
    margin: 0;
    height:33px;
    /*background-color: rgb(127,127,127);*/
    background: #5faeff;
    color:#FFF;
    font-size: 1.65em;
    text-align: center;
}
div#recommand_search_container{
   /* box-flex:2;
    -webkit-box-flex:2;
    -moz-box-flex:2;
    -o-box-flex:2;*/
    width:100%;
    overflow: auto;
    background: #3d414d;
}
div#main_right{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    height: 100%;
}
div#operation_recommand_container{
    border-top: 3px solid #eeeeee;
    height:250px;
    width:100%;
    overflow: auto;
}
div#operation_recommand_container div.operation_recommand_list{
    position: relative;
    margin-top:10px;
    width:100%;
    height:80px;
   /* background: #008080;*/
}
div#operation_recommand_container div.row div.line{
    position: absolute;
    margin-left: 10px;
    top:22px;
    left:0;
    z-index: -1;
    height:4px;
    background: #bbbbbb;
}
div#operation_recommand_container div.row{
   /* position: absolute;
    top: 0px;
    left: 0px;*/
    position: relative;
    margin-left: 10%;
    width:80%;
    height:80px;
}
div#operation_recommand_container div.row div.operation_recommand_part{
    height:80px;
    border-radius: 5px;
   /* background: white;*/
    margin: 0 10px;
}
div#operation_recommand_container div.row div.operation_recommand_part input{
    float:right;
}
div#operation_recommand_container div.row div.operation_recommand_part img{
    width:40px;
    height:40px;
    display: block;
    margin:0 auto;
}
div#operation_recommand_container div.row div.operation_recommand_part span{
    display: block;
    margin:0 auto;
    text-align: center;
}
div#dashboard_container{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    width:100%;
    overflow: auto;
    position: relative;
}
div#dashboard_container  canvas#background{
    z-index: -1;
    position: absolute;
}
div#dashboard_container div#dashboard{
    margin:0 auto;
    height:100%;
    z-index: 0;
    position: absolute;
    width:100%;
    height:100%;
}
.receive_hover{
    opacity:0.3;
}
div.receive_style{
   width:75%;
   height:80px;
   border-radius: 10px;
   margin:0 auto;
   font-size: 1em;
   text-align: center;
   display: inline-block;
   float:left;
   position: relative;
}
div.receive_style_color{
    background-color:rgba(153,153,153,0.5);
}
/* div.operation_recommends_list{
    position: absolute;
    top:80px;
    width:300px;
    border-radius: 5px;
    z-index: 1;
    background: rgba(0,128,128,0.5);
}
div.operation_recommends_list div.operation_part_style{
    margin-left:10px;
    float: left;
} */
div.click_div{
    /*height:100%;
    width:100%;*/
    width:120px;
    background: rgb(102,102,102);
  
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
}
div.copy,div.paste,div.delete,div.recommend{
    height:40px;
    width:100%;
    color:white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
div.copy:hover,div.paste:hover,div.delete:hover,div.recommend:hover{
    background: rgb(3,147,201);
}

div.operation_part_style{
    margin:0 auto;

}
div.operation_part_style img{
    height:60px;
    width:60px;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
}
div.operation_part_style span{
    display: block;
    margin:0 auto;

}
div.add_style{
    width:10%;
    height:80px;
    text-align: center;
}

div.btn-front{
    float:left;
}

div.btn-back{
    float:left;
}
div.part-cell{
    margin-top: 4px;
}
div.add_style span:hover{
    opacity: 0.3;
}
div.add_style span{
    margin-top: 30px;
}
div.floatLeft{
    float: left;
}
div.floatRight{
    float: right;
}

.pull-right div.btn-back{
    float:right;
}
.pull-right div.btn-front{
    float:right;
}
.pull-right div.receive_style{
    float:right;
}
.pull-right img{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH();
}
canvas#background{
}
div#message{
    width:240px;
    height:100%;
    /*border-left: 1px solid grey;*/
    overflow: auto;
}
div#message h1{
    margin:0;
    padding-top: 15px;
    width:100%;
    height:70px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    color: #ff4e74;
}
div#message span{
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    width:100%;
    line-height: 24px;
    font-size: 16px;
    text-align: left;
}

div#part_info{
    position: absolute;
    top:15%;
    right:0;
    z-index:10; 
    float: right;
    overflow: auto;
    width: 20%;
    height: 80%;
}
.btn-close{
    float: right;
    background-color: rgba(0,0,0,0);
    margin:0;
    width:50px;
    height: auto;
    position: relative;
    top:0;
    right:0;
}

.hint-info{
    position: fixed;
    top:0;
    right:0;
    width: 150px;
    height:40px;
    background-color: rgba(0, 204, 255, 0.5);
    text-align: center;
    font-size:1.5em;
    padding-top: 10px;
    color:#FFFFFF;
}
/* div#myModal div.modal-body{
    padding-top: 0;
    padding-bottom: 0;
} */
/*div#myModal{
    width:80%;
}*/
div#myModal ul{
    height:200px;
    overflow: auto;
    border-width: 0;
}
div#myModal ul#select-track{
    
}
div#myModal ul#select-track li{
    list-style-type: none;
    margin-top: 2px;
    width:100%;
    height:30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    /* background: grey; */
}
div#myModal ul#select-track li.active{
    background: #f6f6f6;
}
div#myModal ul#select-function{
    
}

div#myModal ul#select-function li{
    list-style-type: none;
    height:30px;
    margin-top: 2px;
    width:90%;
    /* background: rgb(66,118,202); */
}
div#myModal ul#select-function li span{
    padding-left: 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
}
div#myModal ul#select-function li input{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

