
html, body{
    font-family:"Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a{
    text-decoration: none;
}

div#container{
    width:100%;
    height:100%;
}
div#bananer{
    width:100%;
    height:50px;
    background: rgb(221,221,221);
}
div#logo{
    height:50px;
    width:250px;
    background: rgb(98,206,104);
    float:left;
}
div#logo img{
    height:50px;
    width:50px;
    display: block;
    float:left;
}
div#logo span{
    color:white;
    font-size: 20px;
    line-height: 50px;
    display: block;
    float:left;
}
div#bananer button{
    margin-top: 4px;
    margin-left: 20px;
}
div#bananer ul#buttonArea{
    float:right;
}
div#bananer ul#buttonArea li{
    list-style-type: none;
    float:left;
    margin-left:2px;
    margin-top: 5px;
}
div#main{
    width:100%;
}
div#sidebar{
    width:250px;

    height:100%;
    float:left;
}
div#search_part_container{
    background: rgb(44,47,50);
}
div#search_part_container div.search_container{
    height:40px;
    width:100%;
}

div#search_part_container div.search_container input.search_input{
    width:61.8%;
    height: 32px;
    margin-top: 4px;
    border-radius: 15px;
    box-shadow: none;
    border-width: 0;
    padding-left: 10px;
}

div#search_part_container div.search_container input.search_input:focus{
    box-shadow: none;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

div#search_part_container div.search_container button.search_button{
    font-size: 1.2em;
    text-align: center;
    padding:2%;
    width:30%;
    border-radius: 10px;   
}

div#part_result_container{
    width:100%;
    overflow: auto;
}
div.part_style{
    width:100%;
    height:10%;
    color:#FFF;
    padding-left: 10%;
    margin-bottom: 5%;
    font-size: 1.3em;
}

div.part_active{
    background-color: rgb(138,204,118);
    color:#333333;
}


div#recommand_container{
    width:100%;
    background-color: rgb(62,64,72);
}
div.title{
    background-color: rgb(127,127,127);
    color:#FFF;
    font-size: 1.65em;
    text-align: center;
}
div#recommand_search_container{
    width:100%;
    overflow: auto;
}
div#dashboard_container{
    height:100%;
    overflow: auto;
    position: relative;
}
div#dashboard_container  canvas#background{
    z-index: -1;
    position: absolute;
}
div#dashboard_container div#dashboard{
    margin:0 auto;
    height:100%;
    z-index: 0;
    position: absolute;
    width:100%;
    height:100%;
}
.receive_hover{
    opacity:0.3;
}
div.receive_style{
   width:75%;
   height:80px;
   border-radius: 10px;
   margin:0 auto;
   background-color:rgba(153,153,153,0.5);
   font-size: 1em;
   text-align: center;
   display: inline-block;
   float:left;
   position: relative;
}
div.operation_recommends_list{
    position: absolute;
    top:80px;
    width:300px;
    border-radius: 5px;
    z-index: 1;
    background: rgba(0,128,128,0.5);
}
div.operation_recommends_list div.operation_part_style{
    margin-left:10px;
    float: left;
}
div.click_div{
    height:100%;
    width:100%;
    border-radius: 10px;
    background: rgb(102,102,102);
  
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
}
div.copy,div.part_remove,div.paste,div.delete{
    height:40px;
    width:100%;
    border-radius: 10px;
    color:white;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}
div.copy:hover,div.part_remove:hover,div.paste:hover,div.delete:hover{
    background: rgb(3,147,201);
}

div.operation_part_style{
    margin:0 auto;

}
div.operation_part_style img{
    height:60px;
    width:60px;
    display: block;
    margin: 0 auto;
}
div.operation_part_style span{
    display: block;
    margin:0 auto;

}
div.add_style{
    width:10%;
    height:80px;
    text-align: center;
}

div.btn-front{
    float:left;
}

div.btn-back{
    float:left;
}
div.part-cell{
    margin-top: 4px;
}
div.add_style span:hover{
    opacity: 0.3;
}
div.add_style span{
    margin-top: 30px;
}
div.floatLeft{
    float: left;
}
div.floatRight{
    float: right;
}

.pull-right div.btn-back{
    float:right;
}
.pull-right div.btn-front{
    float:right;
}
.pull-right div.receive_style{
    float:right;
}
canvas#background{
}


div#part_info{
    opacity: 0.7;
    width: 20%;
    height: 80%;
    position: absolute;
    top:15%;
    right:0;
    z-index:10;
    float: right;
    overflow: auto;
}
.btn-close{
    float: right;
    background-color: rgba(0,0,0,0);
    margin:0;
    width:50px;
    height: auto;
    position: relative;
    top:0;
    right:0;
}

.hint-info{
    position: fixed;
    top:0;
    right:0;
    width: 150px;
    height:60px;
    background-color: rgba(0, 204, 255, 0.5);
    text-align: center;
    font-size:1.5em;
    padding-top: 10px;
    color:#FFFFFF;
}

