
html, body{
    font-family:"Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

a{
    text-decoration: none;
}
.box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
}
.block-box{
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
}
.inline-box{
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -o-box-orient:horizontal;
}
.box-item{
    box-flex:0;
    -webkit-box-flex:0;
    -moz-box-flex:0;
    -o-box-flex:0;
}
/* screen width < 800px start */
div#container{
    width:100%;
    min-width: 800px;
    height:100%;
    min-height: 600px;
    font-size: 10px;
}
div#bananer{
    width:100%;
    height:50px;
    background: rgb(221,221,221);
    background: #f7f7f7;
}
div#logo{
    height:50px;
    width:200px;
    background: #5faeff;
}
div#logo img{
    height:50px;
    width:50px;
    display: block;
    float:left;
}
div#logo span{
    color:white;
    font-size: 2.2em;
    line-height: 50px;
    display: block;
    float:left;
}
div#bananer button#add{
    height:30px;
    width:200px;
    border-radius: 5px;
    border-width: 0;
    background: #ff8f4e;
    line-height: 30px;
    font-size: 1.8em;
    margin:10px 10px;
    color: white;
}
div#bananer ul#buttonArea{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    margin:0;
    padding-left: 0;
    height:50px;
    overflow: auto;
}
div#bananer ul#buttonArea li{
    list-style-type: none;
    float: left;
    height:40px;
    margin-left:2px;
    margin-top: 5px;
    border: 1px solid black;
}
div#bananer ul#buttonArea li span.label{
    line-height: 40px;
    font-size: 2.5em;
    color:#000;
}
div#bananer ul#buttonArea li button.close{
    height:20px;
    margin-top: 8px;
}
div#main{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    width:100%;
}
div#sidebar{
    width:200px;
    height:100%;
}
div#search_part_container{
    background: #3d414d;
}
div#search_part_container h1{
    margin: 0;
    height:33px;
    background: #4d99e0;
    color:#FFF;
    font-size: 2.2em;
    line-height: 33px;
    text-align: center;
}
div#search_part_container div#search_container{
    height:40px;
    width:100%;
    background: #4d99e0;
}
div#search_part_container div#search_container input.search_input{
    float: left;
    width: 70% ;
    height: 26px;
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 0;
    padding-left: 10px;
}
div#search_part_container div#search_container input.search_input:focus{
    box-shadow: none;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
div#search_part_container div#search_container input.error::-webkit-input-placeholder{
    color:red;
}
div#search_part_container div#search_container input.error::-moz-placeholder{
    /* firefox 19+ */
    color:red;
}
div#search_part_container div#search_container input.error::input-moz-placeholder{
    color:red;
}
div#search_part_container div#search_container input.error:-ms-input-placeholder{
    /*ie*/
    color:red;
}
div#search_part_container div#search_container span#search_part_button{
    display: block;
    float: right;
    height:26px;
    line-height: 26px;
    font-size: 1.8em;
    margin-right: 15px; 
    margin-top: 5px;
    color: white;
}
div#part_result_container{
    width:100%;
    overflow: auto;
}
div.part_style{
    padding-left: 10%;
    margin-bottom: 5px;
    width:100%;
    height:30px;
    line-height: 30px;
    font-size: 1.5em;
    color:#FFF;
}
div.part_style img {
    margin-right: 20px;
}
div.part_active{
    background-color: rgb(138,204,118);
    color:#333333;
}
div#part_result_container div.part_style img,div#recommand_search_container img{
    height:30px;
    width:30px;
}
div#recommand_container{
    width:100%;
    background-color: rgb(62,64,72);
}
div#recommand_container h1{
    margin: 0;
    height:33px;
    line-height: 33px;
    color:#FFF;
    font-size: 1.7em;
    text-align: center;
    background: #5faeff;
}
div#recommand_search_container{
    width:100%;
    overflow: auto;
    background: #3d414d;
}
div#main_right{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    height: 100%;
}
div#operation_recommand_container{
    border-top: 3px solid #eeeeee;
    height:200px;
    width:100%;
    overflow: auto;
}
div#operation_recommand_container div.operation_recommand_list{
    position: relative;
    margin-top:10px;
    width:100%;
    height:80px;
}
div#operation_recommand_container div.row div.line{
    position: absolute;
    margin-left: 10px;
    top:22px;
    left:0;
    z-index: -1;
    height:4px;
    background: #bbbbbb;
}
div#operation_recommand_container div.row{
    position: relative;
    margin-left: 10%;
    width:80%;
    height:80px;
}
div#operation_recommand_container div.row div.operation_recommand_part{
    height:80px;
    border-radius: 5px;
    margin: 0 10px;
}
div#operation_recommand_container div.row div.operation_recommand_part input{
    float:right;
}
div#operation_recommand_container div.row div.operation_recommand_part img{
    width:40px;
    height:40px;
    display: block;
    margin:0 auto;
}
div#operation_recommand_container div.row div.operation_recommand_part span{
    display: block;
    margin:0 auto;
    text-align: center;
}
div#dashboard_container{
    box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    width:100%;
    overflow: auto;
    position: relative;
}
div#dashboard_container  canvas#background{
    z-index: -1;
    position: absolute;
}
div#dashboard_container div#dashboard{
    margin:0 auto;
    height:100%;
    z-index: 0;
    position: absolute;
    width:100%;
    height:100%;
}
.receive_hover{
    opacity:0.3;
}
div.receive_style{
   width:75%;
   height:80px;
   border-radius: 10px;
   margin:0 auto;
   font-size: 1em;
   text-align: center;
   display: inline-block;
   float:left;
   position: relative;
}
div.receive_style_color{
    background-color:rgba(153,153,153,0.5);
}
div.click_div{
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
    width:90px;
    background: rgb(102,102,102);
}
div.copy,div.paste,div.delete,div.recommend{
    height:24px;
    width:100%;
    color:white;
    font-size: 1.5em;
    line-height: 24px;
    text-align: center;
}
div.copy:hover,div.paste:hover,div.delete:hover,div.recommend:hover{
    background: rgb(3,147,201);
}
div.operation_part_style{
    margin:0 auto;
}
div.operation_part_style img{
    height:60px;
    width:60px;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
}
div.operation_part_style span{
    display: block;
    margin:0 auto;

}
div.add_style{
    width:10%;
    height:80px;
    text-align: center;
}

div.btn-front{
    float:left;
}

div.btn-back{
    float:left;
}
div.part-cell{
    margin-top: 4px;
}
div.add_style span:hover{
    opacity: 0.3;
}
div.add_style span{
    margin-top: 30px;
}
div.floatLeft{
    float: left;
}
div.floatRight{
    float: right;
}
.pull-right div.btn-back{
    float:right;
}
.pull-right div.btn-front{
    float:right;
}
.pull-right div.receive_style{
    float:right;
}
.pull-right img{
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH();
}
canvas#background{
}
div#message{
    width:200px;
    height:100%;
    overflow: auto;
}
div#message h1{
    margin:0;
    width:100%;
    height:70px;
    line-height: 70px;
    font-size: 2.4em;
    text-align: center;
    color: #ff4e74;
}
div#message span{
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    width:100%;
    line-height: 24px;
    font-size: 1.5em;
    text-align: left;
}

div#part_info{
    position: absolute;
    top:15%;
    right:0;
    z-index:10; 
    float: right;
    overflow: auto;
    width: 20%;
    height: 80%;
}
.btn-close{
    float: right;
    background-color: rgba(0,0,0,0);
    margin:0;
    width:50px;
    height: auto;
    position: relative;
    top:0;
    right:0;
}

.hint-info{
    position: fixed;
    top:0;
    right:0;
    width: 150px;
    height:40px;
    background-color: rgba(0, 204, 255, 0.5);
    text-align: center;
    font-size:1.5em;
    padding-top: 10px;
    color:#FFFFFF;
}
div#myModal ul{
    height:200px;
    overflow: auto;
    border-width: 0;
}
div#myModal ul#select-track{
    
}
div#myModal ul#select-track li{
    list-style-type: none;
    margin-top: 2px;
    width:100%;
    height:30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
div#myModal ul#select-track li.active{
    background: #f6f6f6;
}
div#myModal ul#select-function{
    
}
div#myModal ul#select-function li{
    position: relative;
    list-style-type: none;
    height:30px;
    margin-top: 2px;
    width:90%;
}
div#myModal ul#select-function li span.normal{
    padding-left: 10px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    display: block;
    float: left;
    width:90%;
    overflow: hidden;
    text-overflow:ellipsis;
    text-wrap:none;
}
div#myModal ul#select-function li input{
    display: block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
div#myModal ul#select-function li span.hide-function {
   
    position: absolute;
    top:2px;
    left:10px;
    display: none;
    line-height: 20px;
    font-size: 16px;
    color: white; 
    background: blue;
}
div#myModal ul#select-function li span.show-function {
    display: inline;
}
/* screen width < 800px stop */
/* 800 < screen width start */
@media (min-width: 800px) {
    div#container{
        font-size: 11px;
    }
    div#logo{
        height:50px;
        width:220px;
    }
    div#logo img{
        height:50px;
        width:50px;
    }
    div#logo span{
        line-height: 50px;
    }
    div#bananer button#add{
        height:30px;
        width:200px;
        border-radius: 5px;
        line-height: 30px;
        font-size: 1.8em;
        margin:10px 10px;
    }
    div#bananer ul#buttonArea{
        height:50px;
    }
    div#bananer ul#buttonArea li{
        height:40px;
        margin-left:2px;
        margin-top: 5px;
        border: 1px solid black;
    }
    div#bananer ul#buttonArea li span.label{
        line-height: 40px;
    }
    div#bananer ul#buttonArea li button.close{
        height:20px;
        margin-top: 8px;
    }
    div#sidebar{
        width:220px;
    }
    div#search_part_container h1{
        height:33px;
        line-height: 33px;
    }
    div#search_part_container div#search_container{
        height:40px;
    }
    div#search_part_container div#search_container input.search_input{
        float: left;
        width: 70% ;
        height: 26px;
        font-size: 1.5em;
        margin-top: 5px;
        margin-left: 15px;
        border-radius: 5px;
        box-shadow: none;
        border-width: 0;
        padding-left: 10px;
    }
    div#search_part_container div#search_container span#search_part_button{
        height:26px;
        line-height: 26px;
        margin-right: 15px; 
        margin-top: 5px;
    }
    div.part_style{
        height:30px;
        line-height: 30px;
    }
    div.part_style img {
        margin-right: 20px;
    }
    div#part_result_container div.part_style img,div#recommand_search_container img{
        height:30px;
        width:30px;
    }
    div#recommand_container h1{
        height:33px;
        line-height: 33px;
    }
    /*div#operation_recommand_container{
        height:250px;
    }
    div#operation_recommand_container div.operation_recommand_list{
        margin-top:10px;
        height:80px;
    }
    div#operation_recommand_container div.row div.line{
        position: absolute;
        margin-left: 10px;
        top:22px;
        left:0;
        z-index: -1;
        height:4px;
        background: #bbbbbb;
    }
    div#operation_recommand_container div.row{
        position: relative;
        margin-left: 10%;
        width:80%;
        height:80px;
    }
    div#operation_recommand_container div.row div.operation_recommand_part{
        height:80px;
        border-radius: 5px;
        margin: 0 10px;
    }
    div#operation_recommand_container div.row div.operation_recommand_part img{
        width:40px;
        height:40px;
        display: block;
        margin:0 auto;
    }
    div#operation_recommand_container div.row div.operation_recommand_part span{
        display: block;
        margin:0 auto;
        text-align: center;
    }
    div.operation_part_style img{
        height:60px;
        width:60px;
    }*/
    div.click_div{
        width:100px;
    }
    div.copy,div.paste,div.delete,div.recommend{
        height:26px;
        line-height: 26px;
    }
    div#message{
        width:220px;
    }
    div#message h1{
        height:70px;
        line-height: 70px;
        font-size: 2.4em;
    }
    div#message span{
        margin-top: 10px;
        line-height: 24px;
    }
}
/* 800 < screen width stop */
/* 1400 < screen width start */
@media (min-width: 1400px) {
    div#container{
        font-size: 12.5px;
    }
    div#bananer {
        height:60px;
    }
    div#logo{
        height:60px;
        width:250px;
    }
    div#logo img{
        height:60px;
        width:60px;
    }
    div#logo span{
        line-height: 60px;
    }
    div#bananer button#add{
        height:36px;
        width:200px;
        border-radius: 5px;
        line-height: 30px;
        font-size: 1.8em;
        margin:12px 10px;
    }
    div#bananer ul#buttonArea{
        height:60px;
    }
    div#bananer ul#buttonArea li{
        height:50px;
        margin-left:2px;
        margin-top: 5px;
        border: 1px solid black;
    }
    div#bananer ul#buttonArea li span.label{
        line-height: 50px;
    }
    div#bananer ul#buttonArea li button.close{
        height:20px;
        margin-top: 16px;
    }
    div#sidebar{
        width:250px;
    }
    div#search_part_container h1{
        height:36px;
        line-height: 36px;
    }
    div#search_part_container div#search_container{
        height:44px;
    }
    div#search_part_container div#search_container input.search_input{
        float: left;
        width: 70% ;
        height: 30px;
        font-size: 1.5em;
        margin-top: 5px;
        margin-left: 15px;
        border-radius: 5px;
        box-shadow: none;
        border-width: 0;
        padding-left: 10px;
    }
    div#search_part_container div#search_container span#search_part_button{
        height:30px;
        line-height: 30px;
        margin-right: 15px; 
        margin-top: 5px;
    }
    div.part_style{
        height:36px;
        line-height: 36px;
    }
    div#part_result_container div.part_style img,div#recommand_search_container img{
        margin-right: 20px;
        height:36px;
        width:36px;
    }
    div#recommand_container h1{
        height:40px;
        line-height: 40px;
    }
    /*
    div#operation_recommand_container div.operation_recommand_list{
        margin-top:10px;
        height:80px;
    }
    div#operation_recommand_container div.row div.line{
        position: absolute;
        margin-left: 10px;
        top:22px;
        left:0;
        z-index: -1;
        height:4px;
        background: #bbbbbb;
    }
    div#operation_recommand_container div.row{
        position: relative;
        margin-left: 10%;
        width:80%;
        height:80px;
    }
    div#operation_recommand_container div.row div.operation_recommand_part{
        height:80px;
        border-radius: 5px;
        margin: 0 10px;
    }
    div#operation_recommand_container div.row div.operation_recommand_part img{
        width:40px;
        height:40px;
        display: block;
        margin:0 auto;
    }
    div#operation_recommand_container div.row div.operation_recommand_part span{
        display: block;
        margin:0 auto;
        text-align: center;
    }
    div.operation_part_style img{
        height:60px;
        width:60px;
    }*/
    div#operation_recommand_container{
        height:250px;
    }
    div.click_div{
        width:120px;
    }
    div.copy,div.paste,div.delete,div.recommend{
        height:40px;
        line-height: 40px;
    }
    div#message{
        width:250px;
    }
    div#message h1{
        height:70px;
        line-height: 70px;
        font-size: 2.4em;
    }
    div#message span{
        margin-top: 10px;
        line-height: 28px;
    }
}
/* 1400 < screen width stop */
/* 2000 < screen width start */
@media (min-width: 1900px) {
    div#container{
        font-size: 15px;
    }
    div#logo{
        height:70px;
        width:300px;
    }
    div#logo img{
        height:70px;
        width:70px;
    }
    div#logo span{
        line-height: 70px;
    }
    div#bananer button#add{
        height:40px;
        width:200px;
        border-radius: 5px;
        line-height: 40px;
        font-size: 1.8em;
        margin:15px 10px;
    }
    div#bananer ul#buttonArea{
        height:70px;
    }
    div#bananer ul#buttonArea li{
        height:60px;
        margin-left:2px;
        margin-top: 5px;
        border: 1px solid black;
    }
    div#bananer ul#buttonArea li span.label{
        line-height: 60px;
    }
    div#bananer ul#buttonArea li button.close{
        height:20px;
        margin-top: 20px;
    }
    div#sidebar{
        width:300px;
    }
    div#search_part_container h1{
        height:40px;
        line-height: 40px;
    }
    div#search_part_container div#search_container{
        height:44px;
    }
    div#search_part_container div#search_container input.search_input{
        float: left;
        width: 70% ;
        height: 30px;
        font-size: 1.5em;
        margin-top: 5px;
        margin-left: 15px;
        border-radius: 5px;
        box-shadow: none;
        border-width: 0;
        padding-left: 10px;
    }
    div#search_part_container div#search_container span#search_part_button{
        height:30px;
        line-height: 30px;
        margin-right: 15px; 
        margin-top: 5px;
    }
    div.part_style{
        height:40px;
        line-height: 40px;
    }
    div#part_result_container div.part_style img,div#recommand_search_container img{
        margin-right: 20px;
        height:40px;
        width:40px;
    }
    div#recommand_container h1{
        height:44px;
        line-height: 44px;
    }
    /*
    div#operation_recommand_container div.operation_recommand_list{
        margin-top:10px;
        height:80px;
    }
    div#operation_recommand_container div.row div.line{
        position: absolute;
        margin-left: 10px;
        top:22px;
        left:0;
        z-index: -1;
        height:4px;
        background: #bbbbbb;
    }
    div#operation_recommand_container div.row{
        position: relative;
        margin-left: 10%;
        width:80%;
        height:80px;
    }
    div#operation_recommand_container div.row div.operation_recommand_part{
        height:80px;
        border-radius: 5px;
        margin: 0 10px;
    }
    div#operation_recommand_container div.row div.operation_recommand_part img{
        width:40px;
        height:40px;
        display: block;
        margin:0 auto;
    }
    div#operation_recommand_container div.row div.operation_recommand_part span{
        display: block;
        margin:0 auto;
        text-align: center;
    }
    div.operation_part_style img{
        height:60px;
        width:60px;
    }*/
    div#operation_recommand_container{
        height:300px;
    }
    div.click_div{
        width:150px;
    }
    div.copy,div.paste,div.delete,div.recommend{
        height:50px;
        line-height: 50px;
    }
    div#message{
        width:300px;
    }
    div#message h1{
        height:80px;
        line-height: 80px;
        font-size: 2.6em;
    }
    div#message span{
        margin-top: 10px;
        line-height: 32px;
    }
}
/* 2000 < screen width stop */ 
@media (min-height: 800px) {
    div#operation_recommand_container{
        height:300px;
    }
}
@media (min-height: 1000px) {
    div#operation_recommand_container{
        height:400px;
    }
}
