html, body{
	padding:0px;
	margin:0px;
	border:0px solid red;
	font-family:"Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}
div#project-container{
	padding: 0px;
	min-width:800px;
}
div#project-bananer{
	background: rgb(51,203,204);
	margin:0px;
	width:100%;
	height:50px;
}
div#project-bananer-logo{
	float:left;
}
div#project-bananer-logo span{
	color:white;
	font-size: 1.5em;
	line-height: 50px;
}
div.project-bananer-right{
	float:right;
    margin:0 20px;
    position: relative;
}
div.project-bananer-right a{
	font-size:30px/50px;
	text-decoration:none;
	margin-top: 5px;
}

div.project-bananer-right a#dropdown{
	background-color: rgba(0,0,0,0);
	border-width: 0;
	font-size: 1.3em;
}
div#dropdown-menu{
	
	width:150px;
	background: rgb(51,203,204);
	position: absolute;
	top:60px;
}
div.dropdown-menu-item{
	height:30px;
	width:100%;
	font:20px/30px;
	text-align: center;
	color: white;
}
div#project-main{
}
div#project-main-left{
	width:200px;
	height:100%;
	float:left;
}

div#project-main-left-top{
	background:rgb(10,40,40);
	width:100%;
	height:40px;
}

div#project-main-left-top span{
	margin-left:25px;
	font-size: 2em;
	line-height: 40px;
	color:white;
	display: block;
    float: left;
}
div#project-main-left-top button{
	margin-top: 5px;
	height:30px;
	background: rgb(51,203,204);
	text-align: center;
	color:white;
	border-radius: 4px;
	border-width: 0;
}
button#addProjectButton{
	margin-left: 10px;
	float:left;

}
button#editButton{
	float:right;
	margin-right: 10px
}
div#project-main-left-bottom{
	width:100%;
	background: rgb(52,102,103);
	position: relative;
	overflow: auto;
}

div.hint-info{
    position:absolute;
    top:0;
    right:0;
    width:25%;
    height:5%;
    margin:0 auto;
    font-size: 1.5em;
    text-align: center;
    color:#666666;
}
div.project-label{
	width:100%;
	height:40px;
	margin-top: 10px;
	text-align: center;
	font-size: 1.5em;
	color:white;
	
}
div.toggle-class{
	background-color: rgb(242,242,242);
	color:black;
}

div.chain-infos{
	width:85%;
	height:100%;
	float: right;
}

div.img-info{
	width:80%;
	height:60%;
}

img.info-image{
	width:75%;
	margin:0 auto;
}

div.text-info{
	position: absolute;
	right: 0px;
	top:100px;
	width:15%;
	height:30%;
}

div.text-info .part-item{
	margin-top: 20px;
}

div.text-info #doDesign{
	float: right;
}
div#menu{
	width:15%;
	min-width: 100px;
	background-color: rgb(242,242,242);
	float:left;
	overflow: auto;
}
div.track-label{
	height:40px;
	width:70%;
	margin:10px auto;
	padding-top: 5px;
	font-size:1.3em;
	text-align: center;
}

div.device-choosen{
	background-color: #4C4C4C;
	color:#FFF;
	border-radius: 5px;
}
div#project-main-right{
	height:100%;

	float:left;
}
div#project-main-right-top{
	width:100%;
	background: rgb(228,228,228);
	height:40px;
}
div#buttondiv{
	width:15%;
	min-width: 100px;
	height:100%;
	background: rgb(205,205,206);
	float:left;
	text-align: center;
}
div#buttondiv button{
    margin-top: 2px;
   
}
div#project-main-right-top span{
	font:1.5em/40px gray;
	margin-left: 20px;
}

div#project-main-right-bottom{
	width:100%;
  
}

div.modal div.project-info{
	width:80%;
	margin:0 auto;
}

div.modal div.info-item{
	margin-top:5%;
}

div.modal div.device-info{
	width:80%;
	margin:0 auto;
}