*{
	padding:0px;
	margin:0px;
	border-width: 0px;
}
body{
	width:100%;
	height:100%;
}
li{
	list-style: none;
}
.btn {
  -webkit-user-select:none;
  background-image:none;
  border:1px solid transparent;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  font-weight:normal;
  line-height:1.42857143;
  margin-bottom:0;
  padding:0;
  text-align:center;
  vertical-align:middle;
  white-space:nowrap;
}
.box{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
}
.block-box{
	box-orient:vertical;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
}
.inline-box{
	box-orient:horizontal;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-o-box-orient:horizontal;
}
.box-item{
	box-flex:0;
	-webkit-box-flex:0;
	-moz-box-flex:0;
	-o-box-flex:0;
}
div#container{
	width:100%;
	min-width: 800px;
    height:100%;
    min-height: 600px;
}
div#project-area{
	width:250px;
	height:100%;}
div#project-area div#logo{
	width:100%;
	height:60px;
	background: #5faeff;
}
div#project-area div#logo img{
	width:60px;
	height:60px;
}
div#project-area div#logo span{
	color:white;
	font-size: 30px;
	line-height: 60px;
}
div#project-area ul#project-shop{
	margin-bottom: 0px;  
	width:100%;
	height:40px;
	background: #4d99e0;
}
div#project-area ul#project-shop li{
	width:70px;
	height:100%;
}
div#project-area ul#project-shop li:nth-of-type(2){
	width:110px;
	height:100%;
}
div#project-area ul#project-shop li span{
	display: block;
	width:100%;
	height:100%;
	text-align: center;
	color:white;
	font-size: 25px;
	line-height: 40px;
}
/*div#project-area div#search{
	padding-top: 10px;
	width:100%;
	height:80px;
	background: #4ea6ff;
}
div#project-area div#search div#search-area{
	margin: 0 20px ;
	width:210px;
	height:26px;
}
div#project-area div#search div#search-area input{
	float:left;
	width:80%;
	height:100%;
}
div#project-area div#search div#search-area span{
	display: block;
	float: left;
	width:20%;
	height:100%;
	text-align: center;
	color:white;
	font-size: 22px;
	line-height: 26px;
}*/
div#project-area ul#project-content{
	/*box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;*/
	margin-bottom: 0px;
	width:100%;
	overflow: auto;
	/*background: #3d80c4;*/
	background: #3d414d;
}
/*div#project-area ul#project-content li{
	width:100%;
	height:30px;
	text-align: center;
	color:white;
	font-size: 18px;
	line-height: 30px;
}
div#project-area ul#project-content li.project-label-click{
	background: #e6e6e6;
	color:black;
}
div#project-area ul#project-content li:hover{
	background: #e6e6e6;
	color:black;
}*/
div#project-area ul#project-content li.project-label {
	position: relative;
	margin-top: 1px;
}
div#project-area ul#project-content li.project-label div.button{
	margin:0;
	width:100%;
	height:40px;
	/*border-radius: 5px;*/
	background: #3d80c4;
	color:white;
}
div#project-area ul#project-content li.project-label-click div.button{
	background: #4ea6ff;
}
div#project-area ul#project-content li.project-label div.button:hover{
	background: #4ea6ff;
}
div#project-area ul#project-content li.project-label div.button span{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	height:100%;
	line-height: 40px;
}
div#project-area ul#project-content li.project-label div.button span.first{
	width:10%;
	font-size: 14px;
}
div#project-area ul#project-content li.project-label div.button span.second{
	padding-left: 20px;
	width:90%;
	font-size: 24px;
	text-align: left;
}
div#project-area ul#project-content li.project-label div.project-label-shop{
	display: none;
	position: absolute;
	top:0;
	right:0;
	height:100%;
}
div#project-area ul#project-content li.project-label div.show{
	display: block;
}
div#project-area ul#project-content li.project-label div.project-label-shop span{
	margin-right: 10px;
	line-height: 40px;
	font-size: 24px;
	color: white;
}
/*div#project-area ul#project-content li.project-label button div.project-label-shop span:hover{
	background: red;
}*/
div#project-area ul#project-content li.project-label ul.device-menu{
	width:100%;
	background: #3d414d;
}
div#project-area ul#project-content li.project-label ul.device-menu-hide{
	display: none;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label{
	position: relative;
	width:100%;
	height:40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: white;

}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label:hover{
	background: #4ea6ff;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label-click{
	background: #4ea6ff;
	color: white;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop.show{
	display: block;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop span{
	margin-right: 7px;
	line-height: 30px;
	font-size: 18px;
}
div#main{
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	height:100%;
}
div#main div#main-shop{
	position: relative;
	margin-bottom: 3px;
	width:100%;
	height:60px;
}
div#main div#main-shop ul li{
	float: left;
	height:100%;
}
div#main div#main-shop ul#label-container{
	height:100%;
}
div#main div#main-shop ul#label-container li span {
	margin-left: 20px;
	line-height: 60px;
	font-size: 24px;
	color:rgb(152,152,152);
}
div#main div#main-shop ul#label-container span#track {
	color:rgb(0,205,119);
}
div#main div#main-shop ul#button-nav{
	position: absolute;
	top:0;
	right:0;
	height:100%;
	background: white;
}
div#main div#main-shop ul#button-nav li button{
	margin-right: 15px;
	margin-top:17px;
	padding: 0 5px;
	height:26px;
	color:white;
	font-size: 18px;
	line-height: 26px;
	background: #4ea6ff;
}
div#main div#main-content{
    box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	width:100%;
	background: #f7f7f7;
}
div#main div#main-content img#chain-img{
	/*height:200px;
	width:200px;*/
}
div#project-infos{
	width:230px;
	height:100%;
}
div#project-infos div#infos-shop{
	position: relative;
	margin-bottom: 3px;
	width:100%;
	height:60px;
	background: #4ea6ff;
}
div#project-infos div#infos-shop div#dropdown{
	margin:0 auto;
	height:100%;
}
div#project-infos div#infos-shop div#dropdown span{
	display: block;
	float: left;
	width:20%;
	line-height: 60px;
	font-size: 24px;
	text-align: center;
	color: white;
}
div#project-infos div#infos-shop div#dropdown span#user {
	width:70%;
}
div#project-infos div#infos-shop ul#dropdown-menu{
	position: absolute;
	top:60px;
	right:0px;
	background: #4ea6ff;
}
.menu-hide{
	display: none;
}
div#project-infos div#infos-shop ul#dropdown-menu li{
	height:30px;
	width:230px;
}
div#project-infos div#infos-shop ul#dropdown-menu li a{
	display: block;
	width:100%;
	font-size:20px;
	line-height: 30px;
	text-align: center;
	color: white;
}
div#project-infos div#infos-content{
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	width:100%;
}
div#project-infos div#infos-content h1{
	width:100%;
	/*height:60px;*/
	line-height: 60px;
	font-size: 30px;
	text-align: center;
	color: rgb(252,50,110);
	word-break:break-all;
}
div#project-infos div#infos-content span{
	display: block;
	width: 100%;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
}
div#project-infos div#infos-content button#doDesign{
	width:150px;
	height:30px;
	margin:0 auto;
	margin-left: 40px;
	margin-top: 30px;
	border-radius: 5px;
	line-height: 30px;
	font-size: 18px;
	background: rgb(0,221,118);
	color: white;
}
div#project-infos div#infos-content button#doDesign:hover {
	background: rgb(0,254,167);
}
div.modal div.project-info{
	width:80%;
	margin:0 auto;
}

div.modal div.info-item{
	margin-top:5%;
}

div.modal div.device-info{
	width:80%;
	margin:0 auto;
}
div#addProject input,div#addProject select,div#addDevice input{
	border:1px solid #4ea6ff;
}
.hint-info{
    position: fixed;
    top:0;
    right:0;
    width: 150px;
    height:40px;
    background-color: rgba(0, 204, 255, 0.5);
    text-align: center;
    font-size:1.5em;
    padding-top: 10px;
    color:#FFFFFF;
}























