*{
	padding:0px;
	margin:0px;
	border-width: 0px;
}
body{
	width:100%;
	height:100%;
}
li{
	list-style: none;
}
.btn {
  -webkit-user-select:none;
  background-image:none;
  border:1px solid transparent;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  font-weight:normal;
  line-height:1.42857143;
  margin-bottom:0;
  padding:0;
  text-align:center;
  vertical-align:middle;
  white-space:nowrap;
}
.box{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
}
.block-box{
	box-orient:vertical;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-o-box-orient:vertical;
}
.inline-box{
	box-orient:horizontal;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-o-box-orient:horizontal;
}
.box-item{
	box-flex:0;
	-webkit-box-flex:0;
	-moz-box-flex:0;
	-o-box-flex:0;
}
div#container{
	width:100%;
	min-width: 800px;
    height:100%;
    min-height: 600px;
    font-size: 10px;
}
/* screen width <= 800 start   */
div#project-area{
	width:200px;
	height:100%;
}
div#project-area div#logo{
	width:100%;
	height:60px;
	background: #5faeff;
}
div#project-area div#logo img{
	width:60px;
	height:60px;
}
div#project-area div#logo span{
	color:white;
	font-size: 2.2em;
	line-height: 60px;
}
div#project-area ul#project-shop{
	margin-bottom: 0px;  
	width:100%;
	height:40px;
	background: #4d99e0;
}
div#project-area ul#project-shop li{
	box-flex:7;
	-webkit-box-flex:7;
	-moz-box-flex:7;
	-o-box-flex:7;
	height:100%;
}
div#project-area ul#project-shop li:nth-of-type(2){
	box-flex:11;
	-webkit-box-flex:11;
	-moz-box-flex:11;
	-o-box-flex:11;
	height:100%;
}
div#project-area ul#project-shop li span{
	display: block;
	width:100%;
	height:100%;
	text-align: center;
	color:white;
	font-size: 2em;
	line-height: 40px;
}
div#project-area ul#project-content{
	margin-bottom: 0px;
	width:100%;
	overflow: auto;
	background: #3d414d;
}
div#project-area ul#project-content li.project-label {
	position: relative;
	margin-top: 1px;
}
div#project-area ul#project-content li.project-label div.button{
	margin:0;
	width:100%;
	height:40px;
	background: #3d80c4;
	color:white;
}
div#project-area ul#project-content li.project-label-click div.button{
	background: #4ea6ff;
}
div#project-area ul#project-content li.project-label div.button:hover{
	background: #4ea6ff;
}
div#project-area ul#project-content li.project-label div.button span{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	height:100%;
	line-height: 40px;
}
div#project-area ul#project-content li.project-label div.button span.first{
	width:10%;
	font-size: 1.4em;
}
div#project-area ul#project-content li.project-label div.button span.second{
	padding-left: 20px;
	width:90%;
	font-size: 2.4em;
	text-align: left;
}
div#project-area ul#project-content li.project-label div.project-label-shop{
	display: none;
	position: absolute;
	top:0;
	right:0;
	height:100%;
}
div#project-area ul#project-content li.project-label div.show{
	display: block;
}
div#project-area ul#project-content li.project-label div.project-label-shop span{
	margin-right: 10px;
	line-height: 40px;
	font-size: 2.4em;
	color: white;
}
div#project-area ul#project-content li.project-label ul.device-menu{
	width:100%;
	background: #3d414d;
}
div#project-area ul#project-content li.project-label ul.device-menu-hide{
	display: none;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label{
	position: relative;
	width:100%;
	height:40px;
	line-height: 40px;
	font-size: 1.8em;
	text-align: center;
	color: white;

}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label:hover{
	background: #4ea6ff;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label-click{
	background: #4ea6ff;
	color: white;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop.show{
	display: block;
}
div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop span{
	margin-right: 7px;
	line-height: 30px;
	font-size: 1em;
}
div#main{
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	height:100%;
}
div#main div#main-shop{
	position: relative;
	margin-bottom: 3px;
	width:100%;
	height:60px;
}
div#main div#main-shop ul li{
	float: left;
	height:100%;
}
div#main div#main-shop ul#label-container{
	height:100%;
}
div#main div#main-shop ul#label-container li span {
	margin-left: 20px;
	line-height: 60px;
	font-size: 2.4em;
	color:rgb(152,152,152);
}
div#main div#main-shop ul#label-container span#track {
	color:rgb(0,205,119);
}
div#main div#main-shop ul#button-nav{
	position: absolute;
	top:0;
	right:0;
	height:100%;
	background: white;
}
div#main div#main-shop ul#button-nav li button{
	margin-right: 5px;
	margin-top:17px;
	padding: 0 5px;
	height:26px;
	color:white;
	font-size: 18px;
	line-height: 26px;
	background: #4ea6ff;
}
div#main div#main-content{
    box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	width:100%;
	background: #f7f7f7;
}
div#main div#main-content img#chain-img{
	display: block;
	margin:0 auto;
	margin-top: 10px;
	width:300px;
	height:300px;
}
div#project-infos{
	width:200px;
	height:100%;
}
div#project-infos div#infos-shop{
	position: relative;
	margin-bottom: 3px;
	width:100%;
	height:60px;
	background: #4ea6ff;
}
div#project-infos div#infos-shop div#dropdown{
	margin:0 auto;
	height:100%;
}
div#project-infos div#infos-shop div#dropdown span{
	display: block;
	float: left;
	width:20%;
	line-height: 60px;
	font-size: 2.4em;
	text-align: center;
	color: white;
}
div#project-infos div#infos-shop div#dropdown span#user {
	width:70%;
}
div#project-infos div#infos-shop ul#dropdown-menu{
	position: absolute;
	top:60px;
	right:0px;
	background: #4ea6ff;
}
.menu-hide{
	display: none;
}
div#project-infos div#infos-shop ul#dropdown-menu li{
	height:30px;
	width:200px;
}
div#project-infos div#infos-shop ul#dropdown-menu li a{
	display: block;
	width:100%;
	font-size:2em;
	line-height: 30px;
	text-align: center;
	color: white;
}
div#project-infos div#infos-content{
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	width:100%;
}
div#project-infos div#infos-content h1{
	width:100%;
	/*height:60px;*/
	line-height: 60px;
	font-size: 3em;
	text-align: center;
	color: rgb(252,50,110);
	word-break:break-all;
}
div#project-infos div#infos-content span{
	display: block;
	width: 100%;
	line-height: 40px;
	font-size: 2.4em;
	text-align: center;
}
div#project-infos div#infos-content button#doDesign{
	width:150px;
	height:30px;
	margin:0 auto;
	margin-left: 40px;
	margin-top: 30px;
	border-radius: 5px;
	line-height: 30px;
	font-size: 18px;
	background: rgb(0,221,118);
	color: white;
}
div#project-infos div#infos-content button#doDesign:hover {
	background: rgb(0,254,167);
}
div.modal div.project-info{
	width:80%;
	margin:0 auto;
}

div.modal div.info-item{
	margin-top:5%;
}

div.modal div.device-info{
	width:80%;
	margin:0 auto;
}
div#addProject input,div#addProject select,div#addDevice input{
	border:1px solid #4ea6ff;
}
.hint-info{
    position: fixed;
    top:0;
    right:0;
    width: 150px;
    height:40px;
    background-color: rgba(0, 204, 255, 0.5);
    text-align: center;
    font-size:1.5em;
    padding-top: 10px;
    color:#FFFFFF;
}
/* screen width <= 800  stop   */
/* 800 <  screen width  start   */
@media (min-width: 800px) {
	div#container{
	    font-size: 11px;
	}
	div#project-area{
		width:220px;
	}
	div#main div#main-content img#chain-img{
		margin-top: 20px;
		width:400px;
		height:400px;
	}
	div#project-infos{
		width:220px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu li{
		width:220px;
	}
	div#project-infos div#infos-content button#doDesign{
		width:160px;
		height:32px;
		border-radius: 6px;
		line-height: 32px;
		font-size: 20px;
	}
}
/* 800 <  screen width  stop   */

/* 1400 < screen width start   */
@media (min-width: 1400px) {
	div#container{
	    font-size: 12.5px;
	}
	div#project-area{
		width:250px;
	}
	div#project-area div#logo{
		height:70px;
	}
	div#project-area div#logo img{
		width:70px;
		height:70px;
	}
	div#project-area div#logo span{
		line-height: 70px;
	}
	div#project-area ul#project-shop{
		height:50px;
	}
	div#project-area ul#project-shop li span{
		line-height: 50px;
	}
	div#project-area ul#project-content li.project-label div.button{
		height:44px;
	}
	div#project-area ul#project-content li.project-label div.button span{
		line-height: 44px;
	}
	div#project-area ul#project-content li.project-label div.project-label-shop span{
		margin-right: 10px;
		line-height: 44px;
	}
	div#project-area ul#project-content li.project-label ul.device-menu li.device-label{
		height:44px;
		line-height: 44px;
	}
	div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop span{
		margin-right: 7px;
		line-height: 32px;
	}
	div#main div#main-shop{
		height:70px;
	}
	div#main div#main-shop ul#label-container li span {
		margin-left: 20px;
		line-height: 70px;
	}
	div#main div#main-shop ul#button-nav li button{
		margin-right: 10px;
		margin-top:18px;
		height:34px;
		font-size: 22px;
		line-height: 34px;
	}
	div#main div#main-content img#chain-img{
		margin-top: 30px;
		width:600px;
		height:600px;
	}
	div#project-infos{
		width:230px;
	}
	div#project-infos div#infos-shop{
		margin-bottom: 3px;
		height:70px;
	}
	div#project-infos div#infos-shop div#dropdown span{
		line-height: 70px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu{
		top:70px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu li{
		height:32px;
		width:230px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu li a{
		font-size:2em;
		line-height: 32px;
	}
	div#project-infos div#infos-content h1{
		line-height: 70px;
	}
	div#project-infos div#infos-content span{
		line-height: 44px;
	}
	div#project-infos div#infos-content button#doDesign{
		width:180px;
		height:40px;
		border-radius: 8px;
		line-height: 40px;
		font-size: 24px;
	}
}
/* 1400 < screen width stop    */

/* 2000 < screen width start   */
@media (min-width: 1800px) {
	div#container{
	    font-size: 15px;
	}
	div#project-area{
		width:300px;
	}
	div#project-area div#logo{
		height:80px;
	}
	div#project-area div#logo img{
		width:80px;
		height:80px;
	}
	div#project-area div#logo span{
		line-height: 80px;
	}
	div#project-area ul#project-shop{
		height:60px;
	}
	div#project-area ul#project-shop li span{
		line-height: 60px;
	}
	div#project-area ul#project-content li.project-label div.button{
		height:48px;
	}
	div#project-area ul#project-content li.project-label div.button span{
		line-height: 48px;
	}
	div#project-area ul#project-content li.project-label div.project-label-shop span{
		margin-right: 10px;
		line-height: 48px;
	}
	div#project-area ul#project-content li.project-label ul.device-menu li.device-label{
		height:48px;
		line-height: 48px;
	}
	div#project-area ul#project-content li.project-label ul.device-menu li.device-label div.device-label-shop span{
		line-height: 36px;
	}
	div#main div#main-shop{
		height:80px;
	}
	div#main div#main-shop ul#label-container li span {
		margin-left: 20px;
		line-height: 80px;
	}
	div#main div#main-shop ul#button-nav li button{
		margin-right: 15px;
		margin-top:20px;
		height:40px;
		font-size: 26px;
		line-height: 40px;
	}
	div#main div#main-content img#chain-img{
		margin-top: 40px;
		width:600px;
		height:600px;
	}
	div#project-infos{
		width:250px;
	}
	div#project-infos div#infos-shop{
		height:80px;
	}
	div#project-infos div#infos-shop div#dropdown span{
		line-height: 80px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu{
		top:80px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu li{
		height:36px;
		width:250px;
	}
	div#project-infos div#infos-shop ul#dropdown-menu li a{
		font-size:2em;
		line-height: 36px;
	}
	div#project-infos div#infos-content h1{
		line-height: 80px;
	}
	div#project-infos div#infos-content span{
		line-height: 48px;
	}
	div#project-infos div#infos-content button#doDesign{
		width:200px;
		height:50px;
		border-radius: 10px;
		line-height: 50px;
		font-size: 30px;
	}
}
/* 2000 < screen width stop   */





















