.box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
}
.block-box{
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
}
.inline-box{
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -o-box-orient:horizontal;
}
.box-item{
    box-flex:0;
    -webkit-box-flex:0;
    -moz-box-flex:0;
    -o-box-flex:0;
}
.btn {
  -webkit-user-select:none;
  background-image:none;
  border:1px solid transparent;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  cursor:pointer;
  display:inline-block;
  font-size:14px;
  font-weight:normal;
  line-height:1.42857143;
  margin-bottom:0;
  padding:0;
  text-align:center;
  vertical-align:middle;
  white-space:nowrap;
}
h1 {
	margin: 0;
}
li {
	list-style: none;
}
div#container {
	width:100%;
    min-width: 800px;
    height:100%;
    min-height: 600px;
	font-size:10px; 
}
div#header {
	height:50px;
	width:100%;
    height:50px;
    background: rgb(221,221,221);
}
div#header div#logo{
	float:left;
	width:220px;
    background: #5faeff;
}
div#logo img{
	display: block;
    float:left;
    height:50px;
    width:50px;
}
div#logo span{
	display: block;
    float:left;
    color:white;
    font-size: 30px;
    line-height: 50px;
}
div#main {
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	width:100%;
}
div#main div#sidebar {
	width:220px;
	height:100%;
	overflow: auto;
	background: #3d414d;
}
div#sidebar div#sidebar-shop {
	/*position: absolute;
	top:0;
	left: 0;*/
	height:40px;
	width:100%;
	background: rgb(63,150,227);
}
div#sidebar-shop span {
	display: block;
	float: left;
	text-align: center;
	font-size: 1.5em;
	line-height: 40px;
	color: white;
}
div#sidebar-shop span#back {
	width:25%;
}
div#sidebar-shop span#title {
	width:50%;
	font-size: 2.2em
}
div#sidebar-shop span#reset {
	width:25%;
}
div#sidebar div#parent-material-area {
	width:100%;
	overflow: auto;
	border-bottom: 2px solid black;
}
div#sidebar div.reaction-equation-area {
	position: relative;
	width:100%;
	overflow: auto;
	border-bottom: 2px solid black;
}
div.reaction-equation-area button.remove-reaction-equation{
	position: absolute;
	top:3px;
	right:5px;
	height:28px;
	border-radius: 5px;
}
div#sidebar h1.title{
	padding-left: 20px;
	text-align: left;
	color:white;
	font-size: 1.5em;
	height:34px;
	line-height: 34px;
}
div.reaction-equation-area div.rate {
	margin: 5px auto;
	width:80%;
	height:30px;
}
div.reaction-equation-area div.rate label {
	display: block;
	float: left;
	width:60%;
	line-height: 30px;
	font-size: 18px;
	text-align: right;
	color: white;
}
div.reaction-equation-area div.rate input {
	float: left;
	margin-top: 3px;
	margin-left: 10%;
	width:20%;
	height:25px;
	border-radius: 5px;

}
div#sidebar ul.input-table {
	width:100%;
}
div#sidebar div#parent-material-area ul.input-table li.input-row {
	margin-right: 10%;
	margin-top: 10px;
	width:90%;
	height:30px;
}
div#sidebar div#parent-material-area ul.input-table li.input-row input {
	display: block;
	float:left;
	height:100%;
	border-radius: 5px;
}
div#sidebar div#parent-material-area ul.input-table li.input-row input.material {
	width:60%;
}
div#sidebar div#parent-material-area ul.input-table li.input-row input.amount {
	width:15%;
}
div#sidebar div#parent-material-area ul.input-table li.input-row span {
	display: block;
	float: left;
	line-height: 30px;
	font-size: 2em;
	color:white;
}
div#sidebar div#parent-material-area ul.input-table li.input-row span.times {
	width:10%;
	text-align: center;
}
div#sidebar div#parent-material-area ul.input-table li.input-row span.remove-input-row {
	width:15%;
	text-align: right;
}

div#sidebar div.reaction-equation-area ul.input-table li.input-row {
	margin-right: 10%;
	margin-top: 10px;
	width:90%;
	height:30px;
}
div#sidebar div.reaction-equation-area ul.input-table li.input-row input.material {
	display: block;
	float:left;
	height:100%;
	border-radius: 5px;
	width:60%;
}
div#sidebar div.reaction-equation-area ul.input-table li.input-row span.remove-input-row {
	margin-left: 20%;
	display: block;
	float: left;
	line-height: 30px;
	font-size: 2em;
	color:white;
	width:15%;
	text-align: right;
	color:white;
}
div#sidebar button.new-input-row {
	display: block;
	margin:0 auto 20px;
	width:40px;
	height:40px;
	border-radius:20px;
}
div#sidebar button.new-parent-input-row {
	display: block;
	margin:0 auto 20px;
	width:40px;
	height:40px;
	border-radius:20px;
}
div#sidebar button#add {
	float: left;
	margin: 10px 20px;
	height:30px;
	border-radius: 5px;
}
div#sidebar button#run {
	float: right;
	margin: 10px 20px;
	height:30px;
	border-radius: 5px;
}
/*div#sidebar button.new-input-row span {
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}*/
div.reaction-equation-area span.point {
	display: block;
	margin:5px auto;
	width:40px;
	height:40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	color: white;
}
div#main div#content {
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	height:100%;
	/*background: green;*/
}
@media (min-width: 800px){
	div#container {
		font-size:11px; 
	}
	div#header {
	    height:55px;
	}
	div#header div#logo {
		width:260px;
	}
	div#logo img{
	    height:55px;
	    width:55px;
	}
	div#logo span{
	    line-height: 55px;
	}
	div#main div#sidebar {
		width:260px;
	}
	div#sidebar div#sidebar-shop {
		height:45px;
	}
	div#sidebar-shop span {
		line-height: 45px
	}
	div#sidebar h1.title{
		height:38px;
		line-height: 38px;
	}
}
@media (min-width: 1200px){
	div#container {
		font-size:12px; 
	}
	div#header {
	    height:60px;
	}
	div#header div#logo {
		width:320px;
	}
	div#logo img{
	    height:60px;
	    width:60px;
	}
	div#logo span{
	    line-height: 55px;
	}
	div#main div#sidebar {
		width:320px;
	}
	div#sidebar div#sidebar-shop {
		height:50px;
	}
	div#sidebar-shop span {
		line-height: 50px
	}
	div#sidebar h1.title{
		height:42px;
		line-height: 42px;
	}
}


svg, g {
  pointer-events: all;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.title {
  text-anchor: middle;
  font-weight: 700;
}


/*.x.axis path {
  display: none;
}*/



.flag {
  stroke: gray;
  stroke-dasharray: 5;
  stroke-width: 1.5;
  display: none;
  pointer-events: none;
}
.tips {
  pointer-events: none;
  display: none;
}
.tips-border {
  fill: #F3E4E4;
  stroke: gray;        
  stroke-width: 2;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}


div#header div.list{
	margin-left:10%;
	margin-top: 10px;
	float: left;
	font-size: 2em;
}
.ckbox{
	font-size: 2em;
	margin-right: 20px;
}

div#header button{
	float: right;
	margin-right: 10%;
	margin-top: 10px;
	border-width: 0;
	border-radius: 7px;
	width: 70px;
	height: 40px;
	background-color: #0080FF;
	color:#FFFFFF;
}







