html,body,div,ul,li,h1,input{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
div#container{
	padding: 0;
	height:100%;
	width:100%;
}
div#container div#sidebar{
	float: left;
	width:250px;
	height:100%;
}
div#container div#sidebar div#logo{
	width:100%;
	height:50px;
	background: rgb(98,206,104);
}
div#container div#sidebar div#logo img{
    height:50px;
    width:50px;
    display: block;
    float:left;
}
div#container div#sidebar div#logo span{
    color:white;
    font-size: 20px;
    line-height: 50px;
    display: block;
    float:left;
}
div#container div#sidebar div#search-container{
	width:100%;
	background: rgb(44,47,50);
}
div#container div#sidebar div#search-container h1{
   width:100%;
   height:40px;
   font-size: 25px;
   line-height: 40px;
   text-align: center;
   color:#DDDDDD;
   background: rgb(127,127,127);
}
div#container div#sidebar div#search-container ul#search-area{
	width:100%;
	height:40px;
}
div#container div#sidebar div#search-container ul#search-area li{
	float:left;
}
div#container div#sidebar div#search-container ul#search-area li input{
	width:150px;
	height:32px;
	margin:4px 5px;
	padding-left: 10px;
	border-radius: 15px;
    border-width: 0;
    box-shadow: none;
}
div#container div#sidebar div#search-container ul#search-area li button{
    width:80px;
    height:32px;
    margin:4px 5px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 10px;
}
div#container div#sidebar div#search-container ul#search-result{
	width:100%;
	overflow: auto;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item{
	margin-top: 5px;
	width:90%;
	height:30px;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item span{
	width:70%;
	height:100%;
	padding-left: 15px;
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	color:white;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item button{
	float:right;
	height:100%;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	opacity: 0.3;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item button:hover{
	opacity: 1;
}
div#container div#main{
	float: left;
	width:1000px;
	height:100%;
}
div#container div#main div#menu{
	height:100px;
	width:100%;
	background-color: #B3B3B3;
}
div#container div#main div#menu ul#label-area{
	float:left;
	height:100%;
	overflow-y:auto; 
	
}
div#container div#main div#menu ul#label-area li{
	float:left;
	margin: 5px 10px;
	height:40px;
	border:2px solid black;
}
div#container div#main div#menu ul#label-area li span{
	height:40px;
    font-size: 25px;
    line-height: 40px;
}
div#container div#main div#menu ul#label-area li span.remove:hover{
	color:white;
}
div#container div#main div#menu ul#button-area{
	float:left;
	width:100px;
	height:100%;
}
div#container div#main div#menu ul#button-area button{
   margin:5px;
   height:40px;
   width:90px;
}
div#container div#main div#my-svg{
	width:100%;
	overflow: auto;
}
.label-click{
	background-color: #999999;
}
div#message{
	position: absolute;
	right: 0px;
	top:100px;
	width:15%;
	
}

div#gene-message{
	position: absolute;
	right: 0px;
	top:100px;
	width:auto;
	
}