html,body,div,ul,li,h1,input{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
}
.block-box{
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
}
.inline-box{
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -o-box-orient:horizontal;
}
.box-item{
    box-flex:0;
    -webkit-box-flex:0;
    -moz-box-flex:0;
    -o-box-flex:0;
}
div#container{
	padding: 0;
	height:100%;
	width:100%;
}
div#container div#sidebar{
	width:250px;
	height:100%;
}
div#container div#sidebar div#logo{
	width:100%;
	height:50px;
	background: #5faeff;
}
div#container div#sidebar div#logo img{
    height:50px;
    width:50px;
    display: block;
    float:left;
}
div#container div#sidebar div#logo span{
    color:white;
    font-size: 30px;
    line-height: 50px;
    display: block;
    float:left;
}
div#container div#sidebar div#search-container{
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	width:100%;
	background: rgb(44,47,50);
}
div#container div#sidebar div#search-container h1{
   width:100%;
   height:40px;
   font-size: 25px;
   line-height: 40px;
   text-align: center;
   color:white;
   background: rgb(127,127,127);
   background: #4d99e0;
}
div#container div#sidebar div#search-container ul#search-area{
	width:100%;
	height:40px;
	background: #4d99e0;
}
div#container div#sidebar div#search-container ul#search-area li{
	float:left;
	margin-top: 5px;
}
div#container div#sidebar div#search-container ul#search-area li input{
	width:190px;
	height:26px;
	margin-left:15px;
	padding-left: 10px;
	border-radius: 5px;
    border-width: 0;
    box-shadow: none;
}
div#container div#sidebar div#search-container ul#search-area li input.error::-webkit-input-placeholder{
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li input.error::-moz-placeholder{
    /* firefox 19+ */
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li input.error::input-moz-placeholder{
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li input.error:-ms-input-placeholder{
    /*ie*/
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li span{
	margin-left: 10px;
    height:26px;
    line-height: 26px;
    font-size: 20px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
div#container div#sidebar div#search-container ul#search-result{
	width:100%;
	overflow: auto;
	background: #3d414d;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item{
	margin-top: 5px;
	width:90%;
	height:30px;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item span{
	width:70%;
	height:100%;
	padding-left: 15px;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	color:white;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item button{
	margin-top: 4px;
	padding: 0;
	display: none;
	float:right;
	height:80%;
	width:40px;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	background: #2fce71;
	color: white;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item button.show{
	display: block;
}
div#container div#main{
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	height:100%;
}
div#container div#main div#menu{
	height:100px;
	width:100%;
	background-color: #B3B3B3;
}
div#container div#main div#menu ul#label-area{
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	height:100%;
	overflow-y:auto; 
	
}
div#container div#main div#menu ul#label-area li{
	float:left;
	margin: 5px 10px;
	height:40px;
	border:2px solid black;
}
div#container div#main div#menu ul#label-area li span{
	height:40px;
    font-size: 25px;
    line-height: 40px;
}
div#container div#main div#menu ul#label-area li span.remove:hover{
	color:white;
}
div#container div#main div#menu ul#button-area{
	width:100px;
	height:100%;
}
div#container div#main div#menu ul#button-area button{
   margin:5px;
   height:40px;
   width:90px;
}
div#container div#main div#my-svg{
	width:100%;
	overflow: auto;
}
.label-click{
	background-color: #999999;
}
div#message-area {
	width:240px;
}
div#message-area ul.hide {
	display: none;
}
div#message-area li {
	position: relative;
	width:240px;
	overflow: hidden;
}
div#message-area li h1.title {
	margin:0;
    padding-top: 15px;
    width:100%;
    height:70px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    color: #ff4e74;
}
div#message-area li label {
	padding-left: 10px;
	line-height: 24px;
    font-size: 16px;
    text-align: left;
}
div#message-area li span.normal {
	line-height: 24px;
    font-size: 16px;
    text-align: left;
    /*text-overflow:ellipsis;*/
  /*  word-wrap:break-word;
    word-break:hyphenate;
    word-break:break-all;*/
}
div#message-area li span.hide {
	display: none;
	position: absolute;
	top:24px;
	right:0;
	line-height: 20px;
	font-size: 16px;
	background: blue;
	border:2px solid green;
	border-radius: 3px;
}
div#message-area li span.show {
	display: inline;
}
/*div#message{
	position: absolute;
	right: 0px;
	top:100px;
	width:15%;
	
}

div#gene-message{
	position: absolute;
	right: 0px;
	top:100px;
	width:auto;
	
}*/