html,body,div,ul,li,h1,input{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
}
.block-box{
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
}
.inline-box{
    box-orient:horizontal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -o-box-orient:horizontal;
}
.box-item{
    box-flex:0;
    -webkit-box-flex:0;
    -moz-box-flex:0;
    -o-box-flex:0;
}
div#container{
	min-width: 800px;
	min-height: 600px;
	padding: 0;
	height:100%;
	width:100%;
	font-size: 10px;
}
div#container div#sidebar{
	width:200px;
	height:100%;
}
div#container div#sidebar div#logo{
	width:100%;
	height:50px;
	background: #5faeff;
}
div#container div#sidebar div#logo img{
    height:50px;
    width:50px;
    display: block;
    float:left;
}
div#container div#sidebar div#logo span{
    color:white;
    font-size: 2.2em;
    line-height: 50px;
    display: block;
    float:left;
}
div#container div#sidebar div#search-container{
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	width:100%;
	background: rgb(44,47,50);
}
div#container div#sidebar div#search-container h1{
   width:100%;
   height:40px;
   font-size: 2.5em;
   line-height: 40px;
   text-align: center;
   color:white;
   background: rgb(127,127,127);
   background: #4d99e0;
}
div#container div#sidebar div#search-container ul#search-area{
	width:100%;
	height:40px;
	background: #4d99e0;
}
div#container div#sidebar div#search-container ul#search-area li{
	float:left;
	margin-top: 5px;
}
div#container div#sidebar div#search-container ul#search-area li:nth-of-type(1) {
	width:75%;
}
div#container div#sidebar div#search-container ul#search-area li:nth-of-type(2) {
	width:25%;
}
div#container div#sidebar div#search-container ul#search-area li input{
	width:90%;
	height:26px;
	font-size: 1.5em;
	margin-left:15px;
	padding-left: 10px;
	border-radius: 5px;
    border-width: 0;
    box-shadow: none;
}
div#container div#sidebar div#search-container ul#search-area li input.error::-webkit-input-placeholder{
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li input.error::-moz-placeholder{
    /* firefox 19+ */
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li input.error::input-moz-placeholder{
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li input.error:-ms-input-placeholder{
    /*ie*/
    color:red;
}
div#container div#sidebar div#search-container ul#search-area li span{
	margin-left: 10px;
    height:26px;
    line-height: 26px;
    font-size: 20px;
    font-size: 1.8em;
    line-height: 26px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
div#container div#sidebar div#search-container ul#search-result{
	width:100%;
	overflow: auto;
	background: #3d414d;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item{
	margin-top: 5px;
	width:90%;
	height:30px;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item span{
	width:70%;
	height:100%;
	padding-left: 15px;
	font-size: 1.8em;
	line-height: 30px;
	text-align: left;
	color:white;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item button{
	margin-top: 4px;
	padding: 0;
	display: none;
	float:right;
	height:80%;
	width:40px;
	font-size: 1.5em;
	line-height: 20px;
	text-align: center;
	background: #2fce71;
	color: white;
}
div#container div#sidebar div#search-container ul#search-result li.search-result-item button.show{
	display: block;
}
div#container div#main{
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	height:100%;
}
div#container div#main div#menu{
	height:100px;
	width:100%;
	background-color: #B3B3B3;
}
div#container div#main div#menu ul#label-area{
	box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
	height:100%;
	overflow-y:auto; 	
}
div#container div#main div#menu ul#label-area li{
	float:left;
	margin: 5px 10px;
	height:40px;
	border:2px solid black;
}
div#container div#main div#menu ul#label-area li span{
	height:40px;
    font-size: 2.5em;
    line-height: 40px;
}
div#container div#main div#menu ul#label-area li span.remove:hover{
	color:white;
}
div#container div#main div#menu ul#button-area{
	width:100px;
	height:100%;
}
div#container div#main div#menu ul#button-area button{
   margin:5px;
   height:40px;
   width:90px;
}
div#container div#main div#my-svg{
	width:100%;
	overflow: auto;
}
.label-click{
	background-color: #999999;
}
div#message-area {
	width:200px;
}
div#message-area ul.hide {
	display: none;
}
div#message-area li {
	position: relative;
	overflow: hidden;
}
div#message-area li h1.title {
	margin:0;
    width:100%;
    height:70px;
    line-height: 70px;
    font-size: 2.4em;
    text-align: center;
    color: #ff4e74;
}
div#message-area li label {
	padding-left: 10px;
	line-height: 24px;
    font-size: 1.6em;
    text-align: left;
}
div#message-area li span.normal {
	line-height: 24px;
    font-size: 1.6em;
    text-align: left;
}
div#message-area li span.hide {
	display: none;
	position: absolute;
	top:24px;
	right:0;
	line-height: 20px;
	font-size: 16px;
	background: blue;
	border:2px solid green;
	border-radius: 3px;
}
div#message-area li span.show {
	display: inline;
}
@media (min-width: 800px) {
	div#container{
		font-size: 11px;
	}
	div#container div#sidebar{
		width:220px;
	}
	div#container div#sidebar div#logo{
		height:50px;
	}
	div#container div#sidebar div#logo img{
	    height:50px;
	    width:50px;
	}
	div#container div#sidebar div#logo span{
	    line-height: 50px;
	}
	div#container div#sidebar div#search-container h1{
	   height:40px;
	   line-height: 40px;
	}
	div#container div#sidebar div#search-container ul#search-area li input{
		height:26px;
		margin-left:15px;
		padding-left: 10px;
		border-radius: 5px;
	}
	div#container div#sidebar div#search-container ul#search-area li span{
		margin-left: 10px;
	    height:26px;
	    line-height: 26px;
	    font-size: 1.8em;
	    border-radius: 5px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item{
		height:30px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item span{		padding-left: 15px;
		font-size: 1.8em;
		line-height: 30px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item button{
		height:80%;
		width:40px;
		font-size: 1.5em;
		line-height: 20px;
	}
	div#container div#main div#menu{
		height:100px;
	}
	div#container div#main div#menu ul#label-area li{
		margin: 5px 10px;
		height:40px;
		border:2px solid black;
	}
	div#container div#main div#menu ul#label-area li span{
		height:40px;
	    font-size: 2.5em;
	    line-height: 40px;
	}
	div#container div#main div#menu ul#button-area{
		width:100px;
	}
	div#container div#main div#menu ul#button-area button{
	   margin:5px;
	   height:40px;
	   width:90px;
	}
	div#message-area {
		width:220px;
	}
	div#message-area li h1.title {
	    height:70px;
	    line-height: 70px;
	    font-size: 2.4em;
	}
	div#message-area li label {
		padding-left: 10px;
		line-height: 24px;
	    font-size: 1.6em;
	}
	div#message-area li span.normal {
		line-height: 24px;
	    font-size: 1.6em;
	}
}
@media (min-width: 1400px) {
	div#container{
		font-size: 12.5px;
	}
	div#container div#sidebar{
		width:250px;
	}
	div#container div#sidebar div#logo{
		height:60px;
	}
	div#container div#sidebar div#logo img{
	    height:60px;
	    width:60px;
	}
	div#container div#sidebar div#logo span{
	    line-height: 60px;
	}
	div#container div#sidebar div#search-container h1{
	   height:44px;
	   line-height: 44px;
	}
	div#container div#sidebar div#search-container ul#search-area li input{
		height:28px;
		margin-left:15px;
		padding-left: 10px;
		border-radius: 5px;
	}
	div#container div#sidebar div#search-container ul#search-area li span{
		margin-left: 10px;
	    height:28px;
	    line-height: 28px;
	    font-size: 1.8em;
	    border-radius: 5px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item{
		height:32px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item span{		padding-left: 15px;
		font-size: 1.8em;
		line-height: 32px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item button{
		height:80%;
		width:44px;
		font-size: 1.5em;
		line-height: 24px;
	}
	div#container div#main div#menu{
		height:100px;
	}
	div#container div#main div#menu ul#label-area li{
		margin: 5px 10px;
		height:40px;
		border:2px solid black;
	}
	div#container div#main div#menu ul#label-area li span{
		height:40px;
	    font-size: 2.5em;
	    line-height: 40px;
	}
	div#container div#main div#menu ul#button-area{
		width:100px;
	}
	div#container div#main div#menu ul#button-area button{
	   margin:5px;
	   height:40px;
	   width:90px;
	}
	div#message-area {
		width:250px;
	}
	div#message-area li h1.title {
	    height:70px;
	    line-height: 70px;
	    font-size: 2.4em;
	}
	div#message-area li label {
		padding-left: 10px;
		line-height: 26px;
	    font-size: 1.6em;
	}
	div#message-area li span.normal {
		line-height: 26px;
	    font-size: 1.6em;
	}
}
@media (min-width: 1900px) {
	div#container{
		font-size: 15px;
	}
	div#container div#sidebar{
		width:300px;
	}
	div#container div#sidebar div#logo{
		height:70px;
	}
	div#container div#sidebar div#logo img{
	    height:70px;
	    width:70px;
	}
	div#container div#sidebar div#logo span{
	    line-height: 70px;
	}
	div#container div#sidebar div#search-container h1{
	   height:48px;
	   line-height: 48px;
	}
	div#container div#sidebar div#search-container ul#search-area li input{
		height:32px;
		margin-left:15px;
		padding-left: 10px;
		border-radius: 5px;
	}
	div#container div#sidebar div#search-container ul#search-area li span{
		margin-left: 10px;
	    height:32px;
	    line-height: 32px;
	    font-size: 1.8em;
	    border-radius: 5px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item{
		height:40px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item span{		padding-left: 15px;
		font-size: 1.8em;
		line-height: 40px;
	}
	div#container div#sidebar div#search-container ul#search-result li.search-result-item button{
		height:80%;
		width:44px;
		font-size: 1.5em;
		line-height: 28px;
	}
	div#container div#main div#menu{
		height:120px;
	}
	div#container div#main div#menu ul#label-area li{
		margin: 5px 10px;
		height:40px;
		border:2px solid black;
	}
	div#container div#main div#menu ul#label-area li span{
		height:40px;
	    font-size: 2.5em;
	    line-height: 40px;
	}
	div#container div#main div#menu ul#button-area{
		width:100px;
	}
	div#container div#main div#menu ul#button-area button{
	   margin:5px;
	   height:50px;
	   width:100px;
	}
	div#message-area {
		width:300px;
	}
	div#message-area li h1.title {
	    height:80px;
	    line-height: 80px;
	    font-size: 2.4em;
	}
	div#message-area li label {
		padding-left: 10px;
		line-height: 30px;
	    font-size: 1.6em;
	}
	div#message-area li span.normal {
		line-height: 30px;
	    font-size: 1.6em;
	}
}
