<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<title>BioDesigner|Project</title>
	<link rel="stylesheet" href="/static/css/project.css" />
	<link rel="stylesheet" href="/static/css/bootstrap.css" />
</head>

<body>
	<div id="container" class="box inline-box">
	    	<div id="project-area" class="box-item box block-box">
	    		<div id="logo">
	    			<img src="/static/img/logo_white_small.png" alt="logo">
	    			<span>BioDesigner</span>
	    		</div>
	    		<ul id="project-shop" class=" box inline-box">
	    			<li class="box-item">
	    				<span id="add-project" class="glyphicon glyphicon-plus"></span>
	    			</li>
	    			<li class="box-item">
	    				<span>Project</span>
	    			</li>
	    			<li class="box-item">
	    				<span id="edit-project">Edit</span>
	    			</li>
	    		</ul>
	    		<ul id="project-content">
	    		</ul>
	    	</div>
			<div id="main" class="box-item box block-box">
				<div id="main-shop" class="box-item">
					<ul id="label-container">
						<li><span id="project">project</span></li>
						<li><span> > </span></li>
						<li><span id="track">device</span></li>
					</ul>
					<ul id="button-nav">
						<li><button class="btn btn-default" id="get_result">Get Result</button></li>
						<li><button class="btn btn-default" id="version">Simulator</button></li>
						<li><button class="btn btn-default" id="to_system">System Recommendation</button></li>
					</ul>
				</div>
				<div id="main-content" class="box-item">
					<img id="chain-img" src="/static/img/logo_design.png"alt="logo" class="info-image">
				</div>
			</div>
			<div id="project-infos" class="box-item box block-box">
				<div id="infos-shop" class="box-item">
					<div id="dropdown">
						<span class="glyphicon glyphicon-user"></span>
						<span id="user-name"> Username</span>
					</div>
				    <ul id="dropdown-menu" class="menu-hide">
				  		<li><a href="#">Change Password </a></li>
				  		<li><a id="logout" href="javascript:void(0)">Logout</a></li>
				    </ul>
				</div>
				<div id="infos-content" class="box-item">
					<h1>device</h1>
					<span>Length: 0</span>
					<button id="doDesign" disabled="disabled">Design</button>
				</div>
			</div>	
			<div class="hint-info hide"></div>	
	</div>
	<div class="modal fade add-window" id="addProject">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<div class="project-info">
						<div class="row info-item">
							<label for="name" class="add-item-title col-lg-4 col-md-4 col-sm-4 col-xs-4">Project Name</label>
							<input type="text" class="add-item-input col-lg-8 col-md-8 col-sm-8 col-xs-8" id="project-name">
						</div>
						<div class="row info-item">
							<label for="tracks" class="add-item-title col-lg-4 col-md-4 col-sm-4 col-xs-4">Track</label>
	    					<select class="item-select col-lg-8 col-md-8 col-sm-8 col-xs-8" id="tracks">
	    						</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn-close" data-dismiss="modal">Close</button>
					<button type="button" id="submit-project" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok"></span>
						OK
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade add-window" id="addDevice">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Create new Device</h4>
				</div>
				<div class="modal-body">
					<div class="device-info">
						<div class="info-item row">
							<label for="name" class="add-item-title col-lg-4 col-md-4 col-sm-4 col-xs-4">Device Name</label>
							<input type="text" class="add-item-input col-lg-8 col-md-8 col-sm-8 col-xs-8" id="device-name">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning btn-close" data-dismiss="modal">Close</button>
					<button type="button" id="createChain" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>OK</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="waring-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="myModalLabel">Waring </h4>
      			</div>
      			<div id="waring-content" class="modal-body">
        			Please select a project to edit
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			<button id="delete-project" type="button" class="btn btn-default hide" data-dismiss="modal">Delete</button>
      			</div>
    		</div>
  		</div>
	</div>
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	window.uname = '{{username}}';
</script>
<script src="/static/js/project.js"></script>
</body>
</html>